Non-functional requirements:
-User page
-Modern look to the page
-Display the chat history 
-Display the profile of users

Functional requirements:
-Secure Passwords
-Chat
-Mobile site
-Search for users by username
-Hide privat data from other users

Use cases:
-Users can chat with other users
-Users create a profile 
-Use the website on mobile devices


