.logout-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.logout-popup-content {
    backdrop-filter: blur(20px);
    padding: 24px 32px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}